body {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
}

header {
    text-align: center;
}

main,
footer {
    padding-left: 27%;
    padding-right: 27%;
}

section {
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
}